@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: black;
}
/* Dark mode toggle button */
.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
